<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829683997677-mneaorqilu65br457c1vnsh0i80n8cdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829683997677-mneaorqilu65br457c1vnsh0i80n8cdg</string>
	<key>API_KEY</key>
	<string>AIzaSyCBQOJI5dp-qe1E0G7mTfczfTHlTdXeGjA</string>
	<key>GCM_SENDER_ID</key>
	<string>829683997677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datascience.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-b7ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-b7ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829683997677:ios:afb96e265d93437f90e5e4</string>
</dict>
</plist>